<script>
    function cleanCart() {
        fetch('http://localhost:8080/carts/delete/', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
        window.location.href = 'http://localhost:8080/carts'
    }
    function removeFromCart(productId) {
        fetch(`http://localhost:8080/carts/delete/${productId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then((response) => response.json())
        .then((data) => {
            console.log(data.message);
            window.location.href = 'http://localhost:8080/carts';
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>


<section style="max-width: 1100px;" class="p-2 flex flex-col justify-center items-center mx-auto min-h-screen">
    <h1 class="text-2xl text-center mb-10">
        Carrito
    </h1>
    {{#if data.length}}
    <div class="self-end my-4 flex flex-row gap-2">
        <button onclick="cleanCart()" class="btn btn-error">
            Vaciar carrito
        </button>
        <button class="btn btn-success">
            Pagar
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th> Producto </th>
                <th> Título </th>
                <th> Cantidad </th>
                <th> Precio unitario </th>
                <th> Precio total </th>
                <th> Acciones </th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr class="hover">
                    <th>
                        <a href="/products/{{this.product._id}}">    
                            <img src="{{this.product.thumbnail}}" class="w-24 h-24 rounded-full" alt="{{this.product.title}}">
                        </a>
                    </th>
                    <td>
                        <a href="/products/{{this.product._id}}">
                            {{this.product.title}}
                        </a>
                    </td>
                    <td> {{this.quantity}} </td>
                    <td> ${{this.product.price}} </td>
                    <td> ${{this.totalPrice}} </td>
                    <td>
                        <button onclick="removeFromCart('{{this.product._id}}')" class="btn btn-outline btn-error">
                            <i class="ri-delete-bin-6-fill"></i>
                        </button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="card w-1/2 bg-error text-error-content shadow-lg">
        <div class="card-body items-center">
            <h2 class="card-title text-sm">Aún no agregaste productos al carrito...</h2>
        </div>
    </div>
    {{/if}}
</section>