<script>
    function deleteProduct(title) {
        fetch(`http://localhost:8080/products/${title}`, {
            method: 'delete'
        })
        window.location.href = 'http://localhost:8080/products'
    }
    function AddToCart(id) {
        fetch(`http://localhost:8080/carts/add/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then((response) => response.json())
            .then((data) => {
                // Mostrar notificación de éxito
                Swal.fire({
                    icon: 'success',
                    title: 'Producto agregado al carrito',
                    showConfirmButton: false,
                    timer: 1500,
                });
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
                // Mostrar notificación de error
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'No se puedo agregar el producto al carrito.',
                });
            });
    }
</script>

{{#if isAdmin}}

<section class="hero pt-28 pb-8">
    <h1 class="text-2xl font-bold">Bienvenido, admin</h1>
</section>

{{else}}
<section class="hero min-h-screen" style="background-image: url(../banner.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div >
            <p class="text-lg font-bold"> Bienvenido, <span class="capitalize">{{username}}</span></p> 
            <h1 class="mb-5 text-5xl">¡Elige tu pasión y viste tu equipo!</h1>
            <p class="text-sm">
                Descubre nuestra colección de camisetas de fútbol auténticas y muestra tu apoyo incondicional. <br>
                Con materiales de calidad y diseños emblemáticos, lleva el espíritu del fútbol en tu estilo. <br>
                ¡Únete a nosotros y celebremos juntos el deporte más apasionante del mundo!
            </p>
        </div>
    </div>
</section>
{{/if}}

<section class='products'>
    {{#each docs}}
    <article class='card bg-base-100 shadow-xl'>
        <a href='/products/{{this.title}}'>
            <img src={{ this.thumbnail }} alt={{ this.title }}>
        </a>
        <div class='card-body p-2'>
            <h2 class='card-title text-sm'>{{ this.title }}</h2>
            <p class='text-sm'>${{this.price}}</p>
            <div class='join gap-2 w-full justify-between'>
                <button onclick="AddToCart('{{this._id}}')"
                    class='btn btn-neutral normal-case {{#if this.isAdmin}} {{else}} btn-wide{{/if}}'>
                    Añadir al carrito
                </button>
                <div class="join gap-2">
                    {{#if this.isAdmin}}
                    <a href='/products/update/{{this._id}}' class='btn btn-outline btn-success join-item'>
                        <i class='ri-pencil-fill'></i>
                    </a>
                    <button onclick='deleteProduct(' {{this.title}}')' class='btn btn-outline btn-error join-item'>
                        <i class='ri-delete-bin-6-fill'></i>
                    </button>
                    {{/if}}
                </div>
            </div>
        </div>
    </article>
    {{/each}}
</section>


<div class='join gap-2 flex justify-end my-8 mx-auto' style="max-width: 1100px;">
    {{#if hasPrevPage}}
    <a href='{{prevLink}}' class='btn normal-case text-sm'>
        <i class='ri-arrow-left-line text-xl'></i>
        Anterior
    </a>
    {{/if}}
    {{#if hasNextPage}}
    <a href='{{nextLink}}' class='btn normal-case text-sm'>
        Siguiente
        <i class='ri-arrow-right-line text-xl'></i>
    </a>
    {{/if}}
</div>