<script>
    function AddToCart( id ) {
        fetch(`http://localhost:8080/carts/add/${ id }`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json', }
        })
        .then( response => response.json())
        .then( data => {
            Swal.fire({
                icon: 'success',
                title: 'Producto agregado al carrito',
                showConfirmButton: false,
                timer: 1500,
            });
        })
        .catch( error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'No se puedo agregar el producto al carrito.',
            });
        });
    }
</script>
{{#if isAdmin}}
<section class="hero pt-28 pb-8">
    <h1 class="text-2xl font-bold">Bienvenido, admin</h1>
</section>
{{/if}}

<section class='products'>
    {{#each data.docs}}
    <article class='card bg-base-100 shadow-xl'>
        <a href='/products/{{this._id}}'>
            <img src={{ this.thumbnail }} alt={{ this.title }}>
        </a>
        <div class='card-body p-2'>
            <h2 class='card-title text-sm'>{{ this.title }}</h2>
            <p class='text-sm'>${{this.price}}</p>
            <button 
                onclick="AddToCart('{{this._id}}')"
                class="btn btn-neutral normal-case w-full"
            >
                Añadir al carrito
            </button>
        </div>
    </article>
    {{/each}}
</section>


<div class='join gap-2 flex justify-end my-8 mx-auto' style="max-width: 1100px;">
    <a 
        class="btn normal-case text-sm {{#if data.hasPrevPage}} {{else}}btn-disabled{{/if}}"
        href="/products?page={{data.prevPage}}"
    >
        <i class='ri-arrow-left-line'></i>
    </a>
    <a 
        class="btn normal-case text-sm {{#if data.hasNextPage}} {{else}}btn-disabled{{/if}}"
        href="/products?page={{data.nextPage}}"
    >
        <i class='ri-arrow-right-line'></i>
    </a>
</div>