<script>
    function updateProduct(id) {
    fetch(`http://localhost:8080/admin/products/${id}`, {
        method: 'put',
        body: JSON.stringify({
            title: document.getElementById('title').value,
            thumbnail: document.getElementById('thumbnail').value,
            price: document.getElementById('price').value,
            stock: document.getElementById('stock').value,
            description: document.getElementById('description').value,
        }),
        headers:{
            'Content-Type': 'application/json'
        }
    })
    window.location.href='http://localhost:8080/admin/products'
}
</script>

<section class="min-h-screen flex items-center justify-center">
    <article class="card w-1/2 h-full pt-6">
        <h1 class="text-2xl text-center mb-10">
            Actualizando el producto {{product.title}}
        </h1>
        <div class="w-full flex flex-col gap-4">
            <div class="join gap-4">
                <input type="text" id="title" name="title" class="input input-bordered w-full" placeholder="Título del producto" required value="{{product.title}}">
                <input type="url" id="thumbnail" name="thumbnail" class="input input-bordered w-full" placeholder="URL de la imágen del producto" required value="{{product.thumbnail}}">
            </div>
            <div class="join gap-4">
                <input type="number" id="price" name="price" class="input input-bordered w-full" placeholder="Precio del producto" required value="{{product.price}}">
                <input type="number" id="stock" name="stock" class="input input-bordered w-full" placeholder="Stock del producto" required value="{{product.stock}}">
            </div>
            <textarea name="description" id="description" rows="4" class="textarea textarea-bordered w-full" placeholder="Descripción" required>{{product.description}}</textarea>
            <button onclick="updateProduct('{{product._id}}')" class="btn btn-primary btn-outline text-primary hover:text-base-100">
                Actualizar
            </button>
        </div>
    </article>
</section>